{% load static %}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>myanimelist profile</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'mal_userpage/css/styles.css' %}">
        <!-- bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="profile_container">
            <header>
                <div class="mt-2 mb-2 d-flex justify-content-between align-items-center">
                    <div>
                        <img height="48px" src="https://cdn.myanimelist.net/images/mal-logo-xsmall-white@2x.png?v=1634263200">
                    </div>
                    <div class="grey_text d-flex flex-row">
                        <div class="dropdown">
                            <button class="btn dropdown-toggle grey_text" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <strong>{{ name }}</strong>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">プロフィール</a></li>
                                <li><a class="dropdown-item" href="#">設定</a></li>
                                <li><a class="dropdown-item" href="#">ログアウト</a></li>
                            </ul>
                        </div id="">
                            <img class="align-self-center" width="30px" height="30px" src="https://cdn.myanimelist.net/s/common/userimages/809c4c22-7a15-4866-9bd9-9ab1b74f00a4_225w?s=859f8fb3071ac92c9e3762efc36804a8">    
                        </div>
                </div>
            </header>
            <div class="navbar d-flex justify-content-start">
                <a href="#home">ホーム</a>
                <a href="#about">アバウト</a>
                <a href="#services">サービス</a>
                <a href="#contact">コンタクト</a>
            </div>
            <h1>
                {{ name }}'s profile
            </h1>
            <div class="container">
                <div class="d-flex flex-row main-row">
                    <div class="left-column d-flex flex-column">
                        <div id="profilepic-leftcolumn">
                            <img src="https://cdn.myanimelist.net/s/common/userimages/809c4c22-7a15-4866-9bd9-9ab1b74f00a4_225w?s=859f8fb3071ac92c9e3762efc36804a8">
                        </div>
                        <div id="user-function">
                            <a id="user-function-col"> <i class="fa-solid fa-comment"></i> </a>
                            <a id="user-function-col"> <i class="fa-solid fa-envelope"></i> </a>
                            <a id="user-function-col"> <i class="fa-solid fa-user-plus"></i> </a>
                            <a id="user-function-col"> <i class="fa-solid fa-gift"></i> </a>
                        </div>
                    </div>
                    <div class="right-column flex-fill">
                        <h2>Statistics</h2>
                        <div class="row ">
                            <div class="col">
                                <div class="Anime_stats">
                                    <h5>Anime Stats</h5>
                                    <div class="row">
                                        <div class="col">
                                            Days: <strong>11.0</strong>
                                        </div>
                                        <div class="col">
                                            Mean Score: <strong>5.35</strong>
                                        </div>
                                    </div>
                                    <div class="progress-bar">
                                        <!-- <div class="progress-bar-fill" style="width: 70%;"></div> -->
                                        <div class="watching" style="width: 24%;"></div>
                                        <div class="completed" style="width: 48%;"></div>
                                        <div class="on-hold" style="width: 0;"></div>
                                        <div class="dropped" style="width: 3%;"></div>
                                        <div class="plan-to-watch" style="width: 25%;"></div>
                                    </div>
                                    <div class="row legend">
                                        <div class="col">
                                            <li><span class="circle watching"></span> <a href="#">Watching</a> 24</li>
                                            <li><span class="circle completed"></span> <a href="#">Completed</a> 48</li>
                                            <li><span class="circle on-hold"></span> <a href="#">On-Hold</a> 0</li>
                                            <li><span class="circle dropped"></span> <a href="#">Dropped</a> 3</li>
                                            <li><span class="circle plan-to-watch"></span> <a href="#">Plan to Watch</a> 30</li>
                                        </div>
                                        <div class="col d-flex flex-column justify-content-start">
                                            <li class="content_item_caption">Total Entries</li>
                                            <li class="content_item_caption">Rewatched</li>
                                            <li class="content_item_caption">Episodes</li>
                                        </div>
                                        <!-- <div class="col">
                                            <div>
                                                Watching
                                            </div>
                                            <div>
                                                Completed
                                            </div>
                                            <div>
                                                On-Hold
                                            </div>
                                            <div>
                                                Dropped
                                            </div>
                                            <div>
                                                Plan to Watch
                                            </div>
                                        
                                         -->
                                    </div>
                                </div>
                                <div class="Manga_stats">
                                    <h5>Manga Stats</h5>
                                    <div class="row">
                                        <div class="col">
                                            Days: <strong>2.0</strong>
                                        </div>
                                        <div class="col">
                                            Mean Score: <strong>5.50</strong>
                                        </div>
                                    </div>
                                    <div class="progress-bar">
                                        <div class="progress-bar-fill" style="width: 70%;"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div>
                                                Reading
                                            </div>
                                            <div>
                                                Completed
                                            </div>
                                            <div>
                                                On-Hold
                                            </div>
                                            <div>
                                                Dropped
                                            </div>
                                            <div>
                                                Plan to Read
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div>
                                                Total Entries
                                            </div>
                                            <div>
                                                Reread
                                            </div>
                                            <div>
                                                Chapters
                                            </div>
                                            <div>
                                                Volumes
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="Last_anime_updates">
                                    <h5>Last Anime Updates</h5>
                                    <div class="mb-2 d-flex align-items-start">
                                        <img class="content_item" src="https://cdn.myanimelist.net/r/80x120/images/anime/1491/132864.webp?s=bf8969abc40221f2202d481e3c15f6a0">
                                        <div class="col">
                                            <a href="#">Spy Kyoushitsu</a>
                                            <div class="progress-bar">
                                                <div class="progress-bar-fill" style="width: 70%;"></div>
                                            </div>
                                            <div class="content_item_caption">
                                                Watching 2/12 · Scored -
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-2 d-flex align-items-start">
                                        <img class="content_item" src="https://cdn.myanimelist.net/r/80x120/images/anime/1147/122444.webp?s=2a011186fe78cff6075b82c9f266d64c">
                                        <div class="col">
                                            <a href="#">Watashi no Shiawase na Kekkon</a>
                                            <div class="progress-bar">
                                                <div class="progress-bar-fill" style="width: 70%;"></div>
                                            </div>
                                            <div class="content_item_caption">
                                                Watching 2/12 · Scored -
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-2 d-flex align-items-start">
                                        <img class="content_item" src="https://cdn.myanimelist.net/r/80x120/images/anime/1146/113477.webp?s=7851bfc5bbfd734954a45535abcc7377">
                                        <div class="col">
                                            <a href="#">Hige wo Soru. Soshite Joshikousei wo Hirou.</a>
                                            <div class="progress-bar">
                                                <div class="progress-bar-fill" style="width: 70%;"></div>
                                            </div>
                                            <div class="content_item_caption">
                                                Watching 2/12 · Scored -
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="Last_manga_updates">
                                    <h5>Last Manga Updates</h5>
                                    <div class="mb-2 d-flex align-items-start">
                                        <img class="content_item" src="https://cdn.myanimelist.net/r/80x120/images/manga/3/136045.webp?s=3e6ebd7ce5b0acaed3d53a157f17a28b">
                                        <div class="col">
                                            <a href="#">Karakai Jouzu no Takagi-san</a>
                                            <div class="progress-bar">
                                                <div class="progress-bar-fill" style="width: 70%;"></div>
                                            </div>
                                            <div class="content_item_caption">
                                                Watching 2/12 · Scored -
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-2 d-flex align-items-start">
                                        <img class="content_item" src="https://cdn.myanimelist.net/r/80x120/images/manga/3/216480.webp?s=86a401d7ca938cb62c11ecd129114def">
                                        <div class="col">
                                            <a href="#">Fukakai na Boku no Subete wo</a>
                                            <div class="progress-bar">
                                                <div class="progress-bar-fill" style="width: 70%;"></div>
                                            </div>
                                            <div class="content_item_caption">
                                                Watching 2/12 · Scored -
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-2 d-flex align-items-start">
                                        <img class="content_item" src="https://cdn.myanimelist.net/r/80x120/images/manga/3/188967.webp?s=1044d289764245f71761c7a256cda028">
                                        <div class="col">
                                            <a href="#">Kishuku Gakkou no Juliet</a>
                                            <div class="progress-bar">
                                                <div class="progress-bar-fill" style="width: 70%;"></div>
                                            </div>
                                            <div class="content_item_caption">
                                                Watching 2/12 · Scored -
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="" async defer></script>
    </body>
</html>