.navbar {
    background-color: #2e51a2;
    margin: 0;
    padding: 0 !important;
    height: 34px;
}

.navbar a {
    color: white;
    height: 34px;
    padding: 0.5% 2%;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar a:hover {
    background-color: #333333;
}

body {
    background-color: #121212 !important;
    display: flex;
    justify-content: center;
    min-height: 100vh; /* 追加：垂直方向に全体の高さを占めるように設定 */
    margin: 0; /* 追加：余白を0に設定 */
}

.profile_container {
    width: 1060px;
    min-height: 100vh; /* 垂直方向にページ全体を占める */
}

.border_mal {
    border-color: #222;
    border-style: solid;
    border-width: 0 0 1px;
    border: #a3a3a3;
}

#profile_header-3 {
    background-color: #222;
    margin: 0 !important;
    padding: 8px 0 8px 8px;
}

h1 {
    color: #e0e0e0 !important;
    font-family: Verdana,Arial !important;
    font-size: 16px !important;
    font-weight: 700 !important;
}

h2 {
    font-family: Avenir,lucida grande,tahoma,verdana,arial,sans-serif !important;
    font-size: 14px !important;
    font-weight: 700 !important;

    border-color: #222;
    border-style: solid;
    border-width: 0 0 1px;
}

h5 {
    font-family: Avenir,lucida grande,tahoma,verdana,arial,sans-serif !important;
    font-size: 14px !important;
    font-weight: 400 !important;

    border-color: #222;
    border-style: solid;
    border-width: 0 0 1px;
}

.dropdown button strong {
    font-family: Verdana,Arial;
    font-size: 14px;
    font-weight: 700;
}

.navbar a {
    font-size: 13px;
    font-weight: 700;
}

.container, col{
    color: #e0e0e0 !important;
}

.main-row {
}

.left-column {
    width: 225px;
}

#profilepic-leftcolumn {
    padding: 8px 8px 8px 0;
}

#profilepic-leftcolumn img {
    max-width: 100%;
}

.right-column {
    border-color: #222;
    border-style: solid;
    border-width: 0 0 0 1px;
    padding-left: 8px;
}

.content_item {
    width: 40px;
    height: 60px;
    border: 1px;
    margin: 0px 8px 0px 0px;
}

.Last_anime_updates .row .col:has(img) {
    width: 40px !important;
    height: 60px;
    border: 1px;
    margin-right: 8px;
}

.Last_manga_updates .row .col:has(img) {
    width: 40px !important;
    height: 60px !important;
    border: 1px;
    margin-right: 8px;
}

.grey_text {
    color: #e0e0e0 !important;
}

.dropdown-toggle {
    border-radius: 0;
    padding: 0px 8px 0px 8px;
    border: 0 !important;
}

.dropdown-toggle:hover {
    background-color: #333333 !important;
    border-radius: 0;
}

.progress-bar {
    width: 100%;
    background-color: #747474 !important;
    height: 20px;
}

.progress-bar-fill {
    background-color: #338543 !important;
}

.Last_anime_updates .d-flex .col .progress-bar,
.Last_manga_updates .d-flex .col .progress-bar {
    width: 190px;
    height: 14px;
    background-color: #272727 !important;
    border-radius: 2.5px;
}

.Last_anime_updates .d-flex .col .progress-bar .progress-bar-fill,
.Last_manga_updates .d-flex .col .progress-bar .progress-bar-fill{
    width: 190px;
    height: 10px;
    border-radius: 2.5px;
}

/* .progress-bar .watching,
.progress-bar .completed,
.progress-bar .on-hold,
.progress-bar .dropped,
.progress-bar .plan-to-watch {
    background-color: #338543 !important;
    height: 20px;
    height: 100%;
    border-radius: 2.5px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
} */

.Manga_stats .progress-bar {
    border-radius: 2.5px;
    height: 100%;
}

.Anime_stats .progress-bar {
    border-radius: 2.5px;
}

.Manga_stats .progress-bar-fill {
    height: 18px;
}

.watching {
    background-color: red;
}
  
.completed {
    background-color: green;
}
  
.on-hold {
    background-color: blue;
}
  
.dropped {
    background-color: yellow;
}
  
.plan-to-watch {
    background-color: orange;
}
  
.circle {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 12px;
}

.legend .col li a,
.Last_anime_updates a,
.Last_manga_updates a,
#comments a,
#favorites a{
    color: #abc4ed;
    text-decoration: none;
    font-family: Verdana,Arial;
    font-size: 11px;
}

.legend a:hover, 
.Last_anime_updates a:hover,
.Last_manga_updates a:hover, 
#comments a:hover,
#favorites a:hover{
    text-decoration: underline !important;
}

.content_item_caption {
    color: #a3a3a3;
    text-decoration: none;
    font-family: Verdana,Arial;
    font-size: 11px;
    height: 24px;
    display: flex;
    align-items: center;
}

.legend {
    list-style-type: none;
}

.legend .watching {
    background-color: #338543;
}

.legend .completed {
    background-color: #2d4276;
}

.legend .on-hold {
    background-color: #c9a31f;
}

.legend .dropped {
    background-color: #832f30;
}

.legend .plan-to-watch {
    background-color: #747474;
}

.Anime_stats .legend,
.Manga_stats .legend {
    margin: 12px -8px 0px -8px;
}

#anime-favorites img,
#character-favorites img {
    margin: 2px;
}

#submit-comment {
    width: 160px;
    height: 22px;
    font-size: 12px;
    text-align: center;
    font-family: lucida grande,tahoma,verdana,arial,sans-serif;
    font-weight: 700;
    border-radius: 2px;
    background-color: #4065ba;
    border: none;
    padding: 0;
    margin: 2px 0 80px 0;
}

.font-12 {
    font-size: 12px !important;
}