.navbar {
    background-color: #2e51a2;
    margin: 0;
    padding: 0 !important;
    height: 34px;
}

.navbar a {
    color: white;
    height: 34px;
    padding: 0.5% 2%;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar a:hover {
    background-color: #333333;
}

body {
    background-color: #121212 !important;
    display: flex;
    justify-content: center;
    min-height: 100vh; /* 追加：垂直方向に全体の高さを占めるように設定 */
    margin: 0; /* 追加：余白を0に設定 */
}

.profile_container {
    width: 1060px;
    min-height: 100vh; /* 垂直方向にページ全体を占める */
}


h1 {
    color: #e0e0e0 !important;
}

.container, col{
    color: #e0e0e0 !important;
}

.main-row {
}

.left-column {
    width: 225px;
}

#profilepic-leftcolumn {
    padding: 8px 8px 8px 0;
}

#profilepic-leftcolumn img {
    max-width: 100%;
}

.right-column {
}

.content_item {
    width: 40px;
    height: 60px;
}

.Last_anime_updates .row .col:has(img) {
    width: 40px !important;
    height: 60px;
    border: 1px;
    margin-right: 8px;
}

.Last_manga_updates .row .col:has(img) {
    width: 40px !important;
    height: 60px;
    border: 1px;
    margin-right: 8px;
}

.grey_text {
    color: #e0e0e0 !important;
}

.dropdown-toggle {
    border-radius: 0;
    padding: 0px 8px 0px 8px;
    border: 0 !important;
}

.dropdown-toggle:hover {
    background-color: #333333 !important;
    border-radius: 0;
}

.progress-bar {
    width: 100%;
    background-color: #747474 !important;
    height: 20px;
    border-radius: 2.5px;
}

/* .progress-bar .watching,
.progress-bar .completed,
.progress-bar .on-hold,
.progress-bar .dropped,
.progress-bar .plan-to-watch {
    background-color: #338543 !important;
    height: 20px;
    height: 100%;
    border-radius: 2.5px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
} */

.watching {
    background-color: red;
}
  
.completed {
    background-color: green;
}
  
.on-hold {
    background-color: blue;
}
  
.dropped {
    background-color: yellow;
}
  
.plan-to-watch {
    background-color: orange;
}
  
  .circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
  }
  
.legend {
    list-style-type: none;
}

.legend .watching {
    background-color: #338543;
}

.legend .completed {
    background-color: #2d4276;
}

.legend .on-hold {
    background-color: #c9a31f;
}

.legend .dropped {
    background-color: #832f30;
}

.legend .plan-to-watch {
    background-color: #747474;
}
/* 
234
808
*/
