html,
body {
    height: 100%;
}

.form-signin {
    /* max-width: 330px; */
    padding: 1rem;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

form input {
    background-color: #333;
    border: none;
    width: 402px;
    height: 42px;
}

form label {
    color: #abc4ed;
    font-family: Verdana,Arial;
    font-size: 14px;
    padding-bottom: 4px;
}

form button {
    width: 160px;
    height: 39px;
    background-color: #4065ba !important;
}

main {
    background-color: #222222;
    width: 510px;
    height: 600px;
}

.userinput-box {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.userinput-box label,
.userinput-box input {
    display: block;
}

#profile_header-3 {
    background-color: #222;
    margin: 0 !important;
    padding: 8px 0 8px 8px;
}