<!-- モーダルのコード -->
<div class="modal fade" id="addAnimeMangaModal" tabindex="-1" aria-labelledby="addAnimeMangaModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-dark text-light">
                <h5 class="modal-title" id="addAnimeMangaModalLabel" style="border: 0;">アニメやマンガを追加</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                <!-- ここにフォームや情報を追加することができます -->
                アニメやマンガの情報を入力してください。
                <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                あ
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
                <button type="button" class="btn btn-primary">保存</button>
            </div>
        </div>
    </div>
</div>
