<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>myanimelist</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <!-- bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
            <img width="20%" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTyHWSE6PEWd7EzCqDwmdJ0z9_RhqWbu9v_eg&usqp=CAU">
        </header>
        <div class="navbar">
            <a href="#home">ホーム</a>
            <a href="#about">アバウト</a>
            <a href="#services">サービス</a>
            <a href="#contact">コンタクト</a>
        </div>
        <h1>
            {{ name }}'s Profile
        </h1>
        <div class="container">
            <div class="row">
                <div class="col">
                    <img src="https://cdn.myanimelist.net/s/common/userimages/809c4c22-7a15-4866-9bd9-9ab1b74f00a4_225w?s=859f8fb3071ac92c9e3762efc36804a8">
                </div>
                <div class="col">
                    <h2>Statistics</h2>
                    <div class="row">
                        <div class="col">
                            <h5>Anime Stats</h5>
                        </div>
                        <div class="col">
                            <h5>Last Anime Updates</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="" async defer></script>
    </body>
</html>